.main {
  text-align: center;
  margin-top: 50px;
}

input {
  margin-bottom: 10px; /* Adjust the spacing between input and datalist */
}

datalist {
  position: absolute;
  top: 100%;
  left: 0;
  display: block;
}

button {
  margin-top: 10px; /* Adjust the spacing between datalist and button */
}
