.main {
  text-align: center;
  margin-top: 50px;
}
.search-container {
  position: relative;
  display: inline-block;
}

datalist.show {
  position: absolute;
  top: 100%;
  left: 0;
  display: block;
}

datalist.hide {
  display: none;
}
